ion-content {
  --background:  rgb(253, 197, 183);
  font-weight: normal;

  .welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .logo {
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    width: 50%;
    border-radius: 10px;
    text-align: center;
  }
  .start {
    width: 70px;
    height: 70px;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    text-align: center;
  }

  .start:active {
    width: 68px;
    height: 68px;
  }

  .welcome-msg {
    font-family: 'Questrial', Impact;
    
    .welcome-title {
      font-family: 'Dosis', sans-serif;
      font-weight: bold;
      font-size: 1.5em;
      color: rgb(90, 89, 89);
    }
    .welcome-short {
      font-size: 1em;
      color: rgb(105, 105, 105);
      //'Questrial',
    }
  }
}
