ion-content {
  --background: rgb(253, 197, 183);
  font-family: 'Questrial', Impact;
  font-size: 1em;
  font-weight: normal;

  .header {
    display: flex;
  }
  .logo {
    margin: auto;
    color: #fff;
    width: 50%;
    border-radius: 10px;
    text-align: right;
    margin-right: 30px;
    img {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
  .back-btn {
    margin: auto;
    width: 50%;
    border-radius: 10px;
    text-align: left;
    margin-left: 30px;
    img {
      margin-top: 20px;
      margin-bottom: 20px;
      width: 30px;
    }
  }
  .back-btn:active {
    img {
      width:28px;
    }
  }

  .btn-replay {
    width: 64%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(255, 225, 126);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 0.4em grey;
    p {
      color: grey;
      padding: 20px;
      padding-top: 0px;
      font-weight: bold;
    }
    img {
      width: 60px;
      margin-top: 20px;
    }
  }

  ion-card:active {
    width: 68%;
    background-color: rgb(255, 204, 36);

  }

  ion-card {
    margin: auto;
    margin-top: 40px;
    width: 70%;
    background-color: rgb(255, 215, 83);
    text-align: center;

  ion-card-content {
    font-family: 'Questrial', Impact;
    font-size: 1em;
    font-weight: normal;
    img{
        width: 40px;
        margin: auto;
    }
  }
}


}
